@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 text-white/70 rounded-full font-semibold text-sm;
  }
  .hero-ring {
    @apply absolute inset-0 size-[620px] border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}


.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}


@media (min-width: var(--breakpoint-sm)) {
  .container {
    max-width: var(--breakpoint-sm);
  }
}

@media (min-width: var(--breakpoint-md)) {
  .container {
    max-width: var(--breakpoint-md);
  }
}

@media (min-width: var(--breakpoint-lg)) {
  .container {
    max-width: var(--breakpoint-lg);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-move-left {
  animation: move-left 60s linear infinite;
}

.animate-move-left:hover {
  animation-play-state: paused;
}